<!DOCTYPE html> 
<html>

<head>

<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
<title>Find My Train</title>
<link href="static/commuter.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<link rel="stylesheet" type="text/css" href="http://cdn.jtsage.com/jtsage-datebox/latest/jtsage-datebox.jqm.min.css">
<script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="http://cdn.jtsage.com/jtsage-datebox/latest/jtsage-datebox.jqm.min.js"></script>
<script src="../static/script.js" type="text/javascript"></script>

</head> 

<body>

<div data-role="page" id="registerPage">
	<div data-role="header" data-theme="b">
        <h1 data-theme="b">Find My Train</h1>
        <div data-role="navbar">
          <ul>
            <li><a href="#loginPage" data-transition="slide">Sign-In</a></li>
            <li><a href="#registerPage" data-transition="slide">Register</a></li>
          </ul>
        </div>
    </div>

    <div data-role="main" class="ui-content">
        <form id="register-form">
    	<div class="ui-field-contain">
        	<label for="text-basic">Name</label>
			<input type="text" name="text-basic" id="register-name" value="">
        </div>
        
        <div class="ui-field-contain">
        	<label for="email">Email</label>
			<input type="email" name="email" id="register-email" value="">
        </div>
        
        <div class="ui-field-contain">
        	<label for="password">Password:</label>
			<input type="password" name="password" id="register-password" value="" autocomplete="off">
		</div>
        
        <div class="ui-field-contain">
    		<label for="select-service">LIRR/NJT:</label>
            <select name="select-custom-1" data-native-menu="false" id="select-service-register">
                <option value="1">LIRR</option>
                <option value="2">NJT</option>
            </select>
        </div>
    	   
        <div class="ui-field-contain">
    		<label for="select-from">Home Station:</label>
            <select name="select-custom-1" data-native-menu="false" id="select-from-register">
                <!-- <option value="choose-one" data-placeholder="true">Choose Origin Station...</option> -->
                <option value="1">Station 1</option>
                <option value="2">Station 2</option>
                <option value="3">Station 3</option>
                <option value="4">Station 4</option>
            </select>
        </div>
        
        <div class="ui-field-contain">
    		<label for="select-to">Favorite Destination:</label>
            <select name="select-custom-1" data-native-menu="false" id="select-to-register">
                <!-- <option value="choose-one" data-placeholder="true">Choose Origin Station...</option> -->
                <option value="1">Station 1</option>
                <option value="2">Station 2</option>
                <option value="3">Station 3</option>
                <option value="4">Station 4</option>
            </select>
        </div>
        
        <div class="ui-field-contain">
        	<button class="ui-shadow ui-btn ui-corner-all" id="register-btn">Register</button>
        </div>
        </form>
    </div>

    <div data-role="footer" data-theme="b">
        <h4>$ $ &nbsp;A D &nbsp;R E V E N U E &nbsp;$ $</h4>
    </div>
</div>

<div data-role="page" id="loginPage">
	<div data-role="header" data-theme="b">
        <h1 data-theme="b">Find My Train</h1>
        <div data-role="navbar">
          <ul>
            <li><a href="#page1">Home</a></li>
            <li><a href="#page2">Train Info</a></li>
            <li><a href="#page3">Profile</a></li>
          </ul>
        </div>
    </div>

    <div data-role="main" class="ui-content">        
        <div class="ui-field-contain">
        	<label for="email">Email</label>
			<input type="email" name="email" id="login-email" value="">
        </div>
        
        <div class="ui-field-contain">
        	<label for="password">Password:</label>
			<input type="password" name="password" id="login-password" value="" autocomplete="off">
		</div>
        
        <div class="ui-field-contain">
        	<button class="ui-shadow ui-btn ui-corner-all">Log In</button>
        </div>
    </div>   
    <div data-role="footer" data-theme="b">
        <h4>$ $ &nbsp;A D &nbsp;R E V E N U E &nbsp;$ $</h4>
    </div>
</div>

<div data-role="page" id="page1">
	<div data-role="header" data-theme="b">
		<h1 data-theme="b">Find My Train</h1>
        <div data-role="navbar">
          <ul>
            <li><a href="#page1" class="ui-btn-active" data-transition="slide">Home</a></li>
            <li><a href="#page2" data-transition="slide">Train Info</a></li>
            <li><a href="#page3" data-transition="slide">Profile</a></li>
          </ul>
        </div>
	</div>

	<div data-role="main" class="ui-content">
    	<div class="ui-field-contain">
    		<label for="select-service">LIRR/NJT:</label>
            <select name="select-custom-1" data-native-menu="false" id="select-service">
                <option value="1">LIRR</option>
                <option value="2">NJT</option>
            </select>
        </div>	
        <div class="ui-field-contain">
    		<label for="select-from">Origin Station:</label>
            <select name="select-custom-1" data-native-menu="false" id="select-from">
                <!-- <option value="choose-one" data-placeholder="true">Choose Origin Station...</option> -->
                <option value="1">Station 1</option>
                <option value="2">Station 2</option>
                <option value="3">Station 3</option>
                <option value="4">Station 4</option>
            </select>
        </div>
        <div class="ui-field-contain">
            <label for="select-to">Destination Station:</label>
            <select name="select-custom-1" data-native-menu="false" id="select-to">
                <!-- <option value="choose-one" data-placeholder="true">Destination Station...</option> -->
                <option value="1">Station 1</option>
                <option value="2">Station 2</option>
                <option value="3">Station 3</option>
                <option value="4">Station 4</option>
            </select>
        </div>
        <div class="ui-field-contain">
            <label for="notifTime">Notification Time:</label>
            <input name="notifTime" id="notifTime" type="text" data-role="datebox" data-options='{"mode":"timebox", "useNewStyle":true, "overrideTimeFormat": 12, "themeButton": "b", "themeInput": "a", "theme": "b", "themeHeader": "b"}' />
        </div>
        <img src="../static/findmytrain.png" width="166" height="159" alt="" align="middle"/>
	</div>

	<div data-role="footer" data-theme="b">
		<h4>$ $ &nbsp;A D &nbsp;R E V E N U E &nbsp;$ $</h4>
	</div>
</div>

<div data-role="page" id="page2">
	<div data-role="header" data-theme="b">
        <h1 data-theme='b'>Find My Train</h1>
        <div data-role="navbar">
          <ul>
            <li><a href="#page1" data-transition="slide">Home</a></li>
            <li><a href="#page2" class="ui-btn-active" data-transition="slide">Train Info</a></li>
            <li><a href="#page3" data-transition="slide">Profile</a></li>
          </ul>
        </div>
    </div>

    <div data-role="main" class="ui-content">   
        <p> Fill content </p>
    </div>

    <div data-role="footer" data-theme="b">
        <h4>$ $ &nbsp;A D &nbsp;R E V E N U E &nbsp;$ $</h4>
    </div>
</div>

<div data-role="page" id="page3">
    <div data-role="header" data-theme="b">
        <h1 data-theme='b'>Find My Train</h1>
        <div data-role="navbar">
          <ul>
            <li><a href="#page1" data-transition="slide">Home</a></li>
            <li><a href="#page2" data-transition="slide">Train Info</a></li>
            <li><a href="#page3" class="ui-btn-active" data-transition="slide">Profile</a></li>
          </ul>
        </div>
    </div>

    <div data-role="main" class="ui-content">   
        <p> Fill content </p>
    </div>

    <div data-role="footer" data-theme="b">
        <h4>$ $ &nbsp;A D &nbsp;R E V E N U E &nbsp;$ $</h4>
    </div>
</div>

</body>
</html>
