<!DOCTYPE html> 
<html>

<head>

<meta charset="utf-8">
<title>jQuery Mobile Web App</title>
<link href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" rel="stylesheet" type="text/css"/>
<link href="static/commuter.css" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery-1.5.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js" type="text/javascript"></script>
<script src="../static/script.js" type="text/javascript"></script>

</head> 

<body>

<div data-role="page" id="page">
	<div data-role="header">
		<h1 style="color: white; font-family:arial narrow;">L O A D I N G &nbsp;P A G E <br> needs logo 
        </h1>
	</div>
	<div data-role="content">	
		<ul data-role="listview">
			<li><a href="#page2">F I N D &nbsp;M Y &nbsp;T R A I N</a></li>
            <li><a href="#page3">T R A I N &nbsp;I N F O</a></li>
			<li><a href="#page4">P R O F I L E</a></li>
		</ul>		
	</div>
	<div data-role="footer">
		<h4>$ $ &nbsp;A D &nbsp;R E V E N U E &nbsp;$ $</h4>
	</div>
</div>

<div data-role="page" id="page2">
	<div data-role="header">
		<h1 style="font-family:arial narrow;">F I N D &nbsp;M Y &nbsp;T R A I N</h1>
	</div>	
	<div data-role="content">	
	 	<div class="top-row">
            <label for="select-custom-21"></label>
            <select name="select-custom-21" id="select-From" data-native-menu="false">
                <option value="choose-one" data-placeholder="true">Choose Origin Station...</option>
                <option value="1">Station 1</option>
                <option value="2">Station 2</option>
                <option value="3">Station 3</option>
                <option value="4">Station 4</option>
            </select>
        </div>
        
    	<div class="top-row">
            <label for="select-custom-21"></label>
            <select name="select-custom-21" id="select-to" data-native-menu="false">
                <option value="choose-one" data-placeholder="true">Choose Destination Station...</option>
                <option value="1">Station 1</option>
                <option value="2">Station 2</option>
                <option value="3">Station 3</option>
                <option value="4">Station 4</option>
            </select>
        </div>
		
        <div class="top-row">
          <fieldset data-role="controlgroup" data-type="horizontal">
            <legend></legend>
            <label for="select-custom-11"></label>
            <nobr>
	    <select name="select-custom-11" id="select-custom-11" data-native-menu="false">
            	<option value="choose-one" data-placeholder="true">HH:</option>
                <option value="#">01</option>
                <option value="#">02</option>
                <option value="#">03</option>
                <option value="#">04</option>
                <option value="#">05</option>
                <option value="#">06</option>
                <option value="#">07</option>
                <option value="#">08</option>
                <option value="#">09</option>
                <option value="#">10</option>
                <option value="#">11</option>
                <option value="#">12</option>
            </select>
            <nobr>
            <label for="select-custom-12"></label>
            <select name="select-custom-12" id="select-custom-12" data-native-menu="false">
            	<option value="choose-one" data-placeholder="true">MM:</option>
                <option value="#">00</option>
                <option value="#">05</option>
                <option value="#">10</option>
                <option value="#">15</option>
                <option value="#">20</option>
                <option value="#">25</option>
                <option value="#">30</option>
                <option value="#">35</option>
                <option value="#">40</option>
                <option value="#">45</option>
                <option value="#">50</option>
                <option value="#">55</option>
            </select>
            <nobr>
            <label for="select-custom-13"></label>
            <select name="select-custom-13" id="select-custom-13" data-native-menu="false">
            	<option value="choose-one" data-placeholder="true">AM/PM</option>
                <option value="#">AM</option>
                <option value="#">PM</option>
            </select>
        </fieldset>
    </div>
    <br> <br> <br>  <br> <br> <br> <br> <br> <br> <br>  <img src="../static/findmytrain.png" width="166" height="159" alt=""/> </div>
    <br>
<div data-role="footer">
    <h4 style="font-family:arial narrow;">$ $ &nbsp;A D &nbsp;R E V E N U E &nbsp;$ $</h4>
</div>
</div>

<div data-role="page" id="page3">
	<div data-role="header">
		<h1>T R A I N &nbsp;I N F O</h1>
	</div>
	<div data-role="content">	
		Content		
	</div>
	<div data-role="footer">
		<h4>$ $ &nbsp;A D &nbsp;R E V E N U E &nbsp;$ $</h4>
	</div>
</div>

<div data-role="page" id="page4">
	<div data-role="header">
		<h1>P R O F I L E</h1>
	</div>
	<div data-role="content">	
		Content		
	</div>
	<div data-role="footer">
		<h4>$ $ &nbsp;A D &nbsp;R E V E N U E &nbsp;$ $</h4>
	</div>
</div>

</body>
</html>
